.App {
  text-align: center;
}

.LedContainer {
  margin-top: 100px;
}

.btnLed {
  width: 30px;
  height: 30px;
  margin-right: 5px;
  display: inline-block;
  outline: none;
  border: none;
}

.btnLed-red {
  background-color: red;
}

.btnLed-green {
  background-color: green;
}

.Controls {
  margin-top: 20px;
}
